<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational</title>
</head>
<body>
    <h2>Student Details</h2>
    <h4>Student Name: Atharva Thorve</h4>
    <h4>Student id: PHE097</h4>
    <h4>Student Age: 20</h4>
    <br />
    <h3>Student Marks:</h3>
    <h4>Maths: 53/60</h4>
    <h4>Engineering Graphics: 59/60</h4>
    <h4>AOA: 56/60</h4>
    <h4>DMMM: 60/60</h4>
    <h4>CSS: 55/60</h4>
    <br />
    <h3>Personal Intrest</h3>
    <p>Backend developer with a strong focus on Python, specializing in FastAPI and Django for designing and building scalable, maintainable REST APIs and backend systems. Comfortable working across the full backend stack, from database schema design to authentication, API architecture, and deployment. Currently deep-diving into Agentic AI, building systems where LLMs don't just respond to prompts but actually reason, plan, and use tools to complete multi-step tasks autonomously. More interested in solving real engineering problems than chasing AI hype, prioritizing clean architecture, performance, and reliability over flashy demos. Always looking to bridge traditional backend engineering with emerging agentic workflows to build practical, production-ready systems rather than one-off prototypes.</p>
</body>
</html>