<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>List of Projects</h3>
    <ul>
    <br />
    <li><a href="https://github.com/Atharva9988/medicine-manager"> Medicine Manager</li>
    <br />
    <li><a href="https://github.com/Atharva9988/LLM-Chatbot"> LLM-Chatbot</a></li>
    <br />
    <li><a href="https://github.com/Atharva9988/Resume-Screener"> Resume-Screener</a></li>
    <br />
    <li><a href="https://github.com/Atharva9988/weather-app">Weather App</a></li>
    <br />
    <li><a href="https://github.com/Atharva9988/MistakeFix-AI">MistakeFix-AI</a></li>
    </ul>
</body>
</html>